.profile-page{
    padding-top: 1em;
    display: flex;
    flex-direction: column;

    
    .profile-card{
        padding: 1em;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    img{width:200px}
    
    h3{
        font-size: 3em;
    }
    Button{
        margin:0.5em;
    }
}
}